/Build
/Ignored
/Debug
/Ressources
/Guide
Sources/Excluded/
/.vs
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
/x64
/x86
*.db
*.a
*.opendb
*.plg
*.elf
*.zip
*.7z
*.bmp
*.3gx

objdump

/* Until I correctly configured those */
.clang-format
.devcontainer/
.gitlab-cy.yml
.vscode/
